In [89]:
from smart_eval import matching_functions as mf
from smart_eval import summeval_utils as utils
from smart_eval import scorer

In [90]:
from smart_eval.scorer_test import ScorerTest

In [91]:
reference='This article is about this guy named Joe who got arrested.'
candidate='This article is about a guy named Joe'

In [92]:
matcher = mf.chrf_matcher

In [101]:
import nltk
import pandas as pd
nltk.download('punkt')
smart_scorer = scorer.SmartScorer(matching_fn=matcher)
score = smart_scorer.smart_score(reference, candidate)
score

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/parthkatlana/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

{'smart1': {'recall': 57.804793788108014,
  'precision': 57.804793788108014,
  'fmeasure': 57.804793788108014},
 'smart2': {'recall': 28.902396894054007,
  'precision': 28.902396894054007,
  'fmeasure': 28.902396894054007},
 'smartL': {'recall': 57.804793788108014,
  'precision': 57.804793788108014,
  'fmeasure': 57.804793788108014}}

In [102]:
from smart_eval.scorer_test import ScorerTest
test = ScorerTest()
test.test_smart_score_precomputation()

In [103]:
import json
with open("dataset.json", "r") as f:
    content = f.read()
dataset = json.loads(content)

In [104]:
df = pd.DataFrame(dataset)

In [105]:
df

,gpt3_text,wiki_bio_text,gpt3_sentences,annotation,wiki_bio_test_idx,gpt3_text_samples
0,John Russell Reynolds (1820–1876) was an Engli...,"Sir John Russell Reynolds, 1st Baronet (22 May...",[John Russell Reynolds (1820–1876) was an Engl...,"[major_inaccurate, major_inaccurate, major_ina...",62464,[John Russell Reynolds (1 November 1829 – 11 ...
1,"Matthew Aylmer, 1st Baron Aylmer (1708–1794) w...","Admiral of the Fleet Matthew Aylmer, 1st Baron...","[Matthew Aylmer, 1st Baron Aylmer (1708–1794) ...","[minor_inaccurate, minor_inaccurate, minor_ina...",49661,"[""Matthew Aylmer, 1st Baron Aylmer (c. 1650–17..."
2,Rick Mahler (born Richard Alan Mahler on April...,"Richard Keith Mahler (August 5, 1953 in Austin...",[Rick Mahler (born Richard Alan Mahler on Apri...,"[minor_inaccurate, minor_inaccurate, accurate,...",20483,"[Rick Mahler (January 8, 1956 – May 25, 2005) ..."
3,James Blair (1732–1782) was an American lawyer...,"James Blair (September 26, 1786 - April 1, 183...",[James Blair (1732–1782) was an American lawye...,"[minor_inaccurate, major_inaccurate, major_ina...",71174,"[James Blair (April 2, 1755 – March 8, 1842) w..."
4,"Tim Finchem (born August 24, 1947) is an Ameri...","Timothy W. Finchem (born April 19, 1947) is th...","[Tim Finchem (born August 24, 1947) is an Amer...","[minor_inaccurate, accurate, major_inaccurate,...",39945,"[""Tim Finchem (born May 27, 1953) is an Americ..."
...,...,...,...,...,...,...
233,Gündüz Kılıç (born 28 April 1988) is a Turkish...,Baba Gündüz Kılıç (1918-1980) was a Turkish fo...,[Gündüz Kılıç (born 28 April 1988) is a Turkis...,"[minor_inaccurate, major_inaccurate, major_ina...",25585,[Gündüz Kılıç (1518 – 1567) was an Ottoman nav...
234,Michael Replogle (born 1951) is an American en...,Michael Replogle is an internationally recogni...,[Michael Replogle (born 1951) is an American e...,"[accurate, accurate, accurate, accurate, accur...",10740,[Michael Replogle (born 1946) is an American e...
235,"Billy Burke (born October 28, 1894 – died Apri...",William John Burke (Polonized as Burkeauskas; ...,"[Billy Burke (born October 28, 1894 – died Apr...","[minor_inaccurate, major_inaccurate, major_ina...",41463,[Billy Burke (21 August 1882 – 22 December 195...
236,"Ted Childs (born October 15, 1956) is an Ameri...",Ted Childs commenced training as a programme d...,"[Ted Childs (born October 15, 1956) is an Amer...","[major_inaccurate, major_inaccurate, major_ina...",57341,"[""Ted Childs was an American actor and busines..."
237,Edward Synge (1714–1798) was an Irish Anglican...,Edward Synge (1659–1741) was an Anglican clerg...,[Edward Synge (1714–1798) was an Irish Anglica...,"[minor_inaccurate, minor_inaccurate, accurate,...",66046,[Edward Synge (1562-1641) was an English-born ...

In [106]:
matcher = mf.chrf_matcher
smart_scorer = scorer.SmartScorer(matching_fn=matcher)

In [107]:
scores = []
for i in range(len(dataset)):
    article = df['wiki_bio_text'][i]
    summary = df['gpt3_text'][i]
    scores.append(smart_scorer.smart_score(article,summary))

In [110]:
smart1 = []
smart2 = []
smartL = []

for i in range(len(dataset)):
    smart1.append(scores[i]['smart1']['fmeasure'])
    smart2.append(scores[i]['smart2']['fmeasure'])
    smartL.append(scores[i]['smartL']['fmeasure'])

smart_scores = pd.DataFrame(
    {
        'Smart1': smart1,
        'Smart2': smart2,
        'SmartL': smartL
    })

In [111]:
smart_scores

        Smart1     Smart2     SmartL
0    23.487301  19.520974  21.659856
1    27.403541  21.547516  25.439216
2    28.421128  23.261924  26.618658
3    22.325116  18.856218  20.916260
4    31.216528  25.786420  29.685319
..         ...        ...        ...
233  23.134009  19.652512  21.781214
234  34.317811  27.984448  32.105148
235  27.255774  23.030052  26.597500
236  23.169782  19.601486  20.832232
237  29.732160  24.045731  27.579986

[238 rows x 3 columns]

In [ ]:
smart_scores.to_csv('Smart_scores.csv')